<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <!-- <link rel="stylesheet" href="../app/view/assets/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../app/view/assets/css/bootstrap.min.css"> -->

</head>

<body>


    <div class="container">
        <style>
            .landing {
                margin-top: 100px;
            }

            .landing_detail {
                margin-top: 25px;
                color: rgba(0, 0, 0, 0.527);
            }
        </style>

        <div class="landing container row">
            <div class="card-body col-6">
                <h5 class="card-title  display-4 fw-bold color-danger">Form evaluation </h5>
                <h4 class="card-sub-title lead-4 "> take a time fill the form to get better service</h4>
                <p class="landing_detail card-text fs-6 col-lg-6 col-md-10">Some quick example text to build on the card title and
                    make up
                    the bulk of the
                    card's content.
                    adipisicing elit. Dolorem impedit dolore
                    sapiente odit a fuga ut doloribus volupta

                    Enim saepe voluptatibus rerum distinctio.
                    Lorem ipsum dolor sit amet consectetur adipisi
                    cing elit.
                    asperiores!
                </p>
                <form action = 'candidate' method ='GET'> 
                <button type="submit" class="btn px-4 btn-primary"> create form</button></form>
            </div>
        </div>

     



    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script src="assets/js/bootstrap.min.js"></script> -->
</body>

</html>