<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // alert();
        var myobj = document.getElementById("both");
        
         myobj.remove();

// var login = document.getElementById("login");

// anchor.setAttributeNode(att); 
// login.setAttributeNode()


var anchor = document.getElementById("login");  // Get the <a> element with id="myAnchor"
var att = document.createAttribute("InnerHtml");        // Create a "href" attribute
att.InnerHtml = "https://www.w3schools.com";            // Set the value of the href attribute
anchor.setAttributeNode(att);



        //  var btn = document.createElement("BUTTON");
        //  btn.innerHTML = "CLICK ME";                   // Insert text
        // document.getElementById("both").appendChild(btn);               
        </script>
        <style> 
         .bg{
      background:#FFFFFF;
    }
    body{
        background-color: #EEF3F9;
    }
    </style>



<div class="jumbotron bg text-dark mb-5 ">
    <div class="container ">
      <div class="container d-flex justify-content-start ">


        
            <div class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                <div class = "container d-flex alig"> 
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../login">Link</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li></div>
            </div>
th
            

       
     
      </div>
    </div>
  </div>

  
    user





</body>
</html>
